html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.body {
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ececec;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footersvg {
  width: 100px;
  height: 100px;
  fill: #deeeea;
}

.footer-svg {
  padding-left: 40px;
  padding-top: 30px;
}

.footer {
  background-color: #231e23;
  width: 100%;
}

.fonts-h {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.fonts-p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.857;
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
  color: #212121;
}

.fonts-link {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 42px;
  letter-spacing: 0.857;
  color: #8e9775;
}

.link-item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.links-list {
  padding-left: 30px;
  max-width: 450px;
}

.fonts-page {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.857;
  text-align: right;
  margin: 0 auto;
  margin-left: auto;
  color: #000000;
  margin-left: 800px;
  padding-right: 30px;
}

.fonts-ha {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: right;
  padding-right: 90px;
  letter-spacing: 0.03em;
  color: #212121;
}

.technology-list {
  display: flex;
  flex-wrap: wrap;
}

.technology-item {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
}

.img-technology {
  width: 200px;
  height: 200px;
  padding-right: 25px;
}

.pro-nas {
  background-image: url("/images/background-images/photo_2021-06-23_11-56-42_auto_x2_colored_light_ai.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.svghref {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-left: 25px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header {
  background-image: none;
  margin-top: 24px;
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  margin-top: 24px;
  margin: 0 auto;
  margin-left: 150px;
}

.navigation-item {
  padding-left: 25px;
}
/*# sourceMappingURL=main .css.map */