.footer-list{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom:50px;
    
}

.footersvg{
width:100px;
height: 100px;
fill:#deeeea;
}

.footer-svg{
padding-left:40px;
padding-top: 30px;
}

.footer{
    background-color: #231e23;
    width: 100%;
}